<!-- Navigation Tabs -->
<ul class="tabs">
  <li class="tab col s4"><a class='active' href="#log">Log</a></li>
  <li class="tab col s4"><a href="#simple">Totals</a></li>
  <li class="tab col s4"><a href="#users">Users</a></li>
</ul>

<!-- Debt Log -->
<form id='log' class='form' action='/' method='post'>
    <table class='highlight content centered slim'>
      <thead>
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Item</th>
          <th>$$</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- Template row for duplicating -->
        <tr id='template' style='display: none;'>
          <input type='hidden' name='id[]' value=''>
          <td>
            <div class='input-field'>
              <select name='from[]'>
              {{#each users}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
              </select>
            </div>
          </td>
          <td>
            <div class='input-field'>
              <select name='to[]'>
              {{#each users}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
              </select>
            </div>
          </td>
          <td>
            <div class='input-field'>
              <input type='text' class='validate' name='item[]' placeholder='desc.'>
            </div>
          </td>
          <td>
            <div class='input-field'>
              <input type='number' step='0.05' class='validate' name='amount[]' value='0'>
            </div>
          </td>
          <td>
            <button type='button' class='btn btn-floating waves-effect right delete salmon'>
              <i class='material-icons'>delete</i>
            </button>
          </td>
        </tr>

        <!-- Dynamic rows -->
        {{#debts}}
          <tr>
            <input type='hidden' name='id[]' value='{{id}}'>
            <td>
              <div class='input-field'>
                <select class='selectpicker' name='from[]'>
                  {{#select from}}
                  {{#each ../users}}
                    <option value='{{this}}'>{{this}}</option>
                  {{/each}}
                  {{/select}}
                </select>
              </div>
            </td>
            <td>
              <div class='input-field'>
                <select class='selectpicker' name='to[]'>
                  {{#select to}}
                  {{#each ../users}}
                    <option value='{{this}}'>{{this}}</option>
                  {{/each}}
                  {{/select}}
                </select>
              </div>
            </td>
            <td>
              <div class='input-field'>
                <input type='text' class='validate' name='item[]' value='{{item}}'>
              </div>
            </td>
            <td>
              <div class='input-field'>
                <input class='validate' type='number' step='0.05' name='amount[]' value='{{amount}}'>
              </div>
            </td>
            <td>
              <button type='button' class='btn btn-floating waves-effect right delete salmon' data-id='{{id}}'>
                <i class='material-icons'>delete</i>
              </button>
            </td>
          </tr>
        {{/debts}}
      </tbody>
    </table>

    <!-- Submit and Add Buttons -->
    <table class='slim'>
      <tr>
        <td>
          <input class='btn waves-effect indigo lighten-2' type='submit' value='Save'>
          <span class='right'>
            <button id='addRow' type='button' class='btn btn-floating waves-effect indigo lighten-2'>
              <i class='material-icons'>add</i>
            </button>
          </span>
        </td>
      </tr>
    </table>

</form>


<!-- Solution table -->
<table id='simple' class='highlight bordered centered'>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Amount ($)</th>
      <th>Clear</th>
    </tr>
  </thead>
  <tbody>
    {{#each solution}}
    <tr>
      <td class='from'>{{this.[0]}}</td>
      <td class='to'>{{this.[1]}}</td>
      <td class='amount'>{{this.[2]}}</td>
      <td>
        <div class='input-field' style='margin: 5px auto 5px auto;'>
          <button class='btn btn-floating waves-effect indigo lighten-2 clear'>
            <i class='material-icons'>done</i>
          </button>
        </div>
      </td>
    </tr>
    {{else}}
      <tr>
        <td colspan="4">
          <p>All balances are equal.</p>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<!-- Add / Delete Row Javascript -->
<script type='text/javascript'>
  $(document).ready(function() {
    // bind addRow function to add row button
    $('#addRow').on('click', () => { addRow() });

    // add row function
    function addRow(data) {
      // copy the template row and insert at end of table
      let copy = $('#template').html();
      $('tbody').append('<tr></tr>');
      $('table.content tr:last').html(copy);

      // select the final row
      var lastRow = $('table.content tr:last');

      // set initial values, if they were supplied
      if (data !== undefined) {
        for (var i in data) {
          let selector = "[name='"+i+"[]']";
          console.log(lastRow.find(selector));
          lastRow.find(selector).val(data[i]);
        }
      }

      // activate the selectpickers
      lastRow.find('select')
        .attr('class', 'selectpicker')
        .material_select();

      // bind deleteHandler to new delete button
      lastRow.find('button')
        .on('click', deleteHandler);
    }

    // bind delete handler to delete buttons
    $('.delete').on('click', deleteHandler);

    // delete handler
    function deleteHandler() {
      // add a hidden input with this ID
      let rowId = $(this).data('id');
      if (rowId !== undefined) {
        $('form').append('<input type="hidden" name="delete[]" value="'+rowId+'"/>');
      }

      //Remove this row
      $(this).parent().parent().remove();
    }

    // activate material selectpickers
    $('.selectpicker').material_select()

    // clear debt function
    $('.clear').on('click', function() {
      // retrieve row data
      let row = $(this).parent().parent().parent();
      let to = row.find('.to').html();
      let from = row.find('.from').html();
      let amount = row.find('.amount').html()*-1.0;

      // add a row to the log table
      addRow({
        'from': from,
        'to': to,
        'amount': amount,
        'item': '(clear)'
      });

      // submit the form
      $('form').submit();
    });
  });
</script>
