<div class='col-lg-6 col-md-8 col-sm-10 col-xs-12'>
  <form class='form' action='/' method='post'>
    <table class='table'>
      <thead>
        <tr>
          <td>To</td>
          <td>From</td>
          <td>Amount</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <!-- Template row for duplicating -->
        <tr id='template' style='display: none;'>
          <input type='hidden' name='id[]' value=''>
          <td>
            <select name='to[]'>
              {{#each users}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
            </select>
          </td>
          <td>
            <select name='from[]'>
              {{#each users}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
            </select>
          </td>
          <td><input class='form-control' type='text' name='amount[]' value='0'></td>
          <td><button type='button' class='btn btn-danger'>X</button></td>
        </tr>

        <!-- Dynamic rows -->
        {{#data}}
          <tr>
            <input type='hidden' name='id[]' value='{{id}}'>
            <td>
              <select class='selectpicker' name='to[]'>
                {{#select to}}
                {{#each ../users}}
                  <option value='{{this}}'>{{this}}</option>
                {{/each}}
                {{/select}}
              </select>
            </td>
            <td>
              <select class='selectpicker' name='from[]'>
                {{#select from}}
                {{#each ../users}}
                  <option value='{{this}}'>{{this}}</option>
                {{/each}}
                {{/select}}
              </select>
            </td>
            <td><input class='form-control' type='text' name='amount[]' value='{{amount}}'></td>
            <td><button type='button' class='btn btn-danger delete' data-id='{{id}}'>X</button></td>
          </tr>
        {{/data}}
      </tbody>
    </table>
    <input class='btn btn-primary' type='submit' name='Submit'>
    <span class='pull-right'><button id='addRow' type='button' class='btn btn-primary'>+</button></span>
  </form>
</div>

<!-- Divider -->
<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'><br></div>

<!-- Add / Delete Row Javascript -->
<script type='text/javascript'>

  $(document).ready(function() {
    //Add row function
    $('#addRow').on('click', function() {
      var copy = $('#template').html();
      $('tbody').append('<tr></tr>');
      $('tr:last').html(copy);
      $('tr:last').find('select').attr('class', 'selectpicker');
      $('.selectpicker').selectpicker('refresh');
    });

    //Delete row function
    $('.delete').on('click', function() {
      var rowId = $(this).data('id');
      console.log(rowId);
    });

    //Activate selectpickers
    $('.selectpicker').selectpicker();
  });
</script>
